.row.padding-5.border-1{ id: dom_id(airplane) }
  .col-md-3
    = airplane.name
  .col-md-3
    = airplane.time_for_take_off
  .col-md-6
    = add_airplane_to_landing_strip(airplane.id, landing_strip.id) 
