.row
  .col-md-12
    %h2
      = @airport.name
.row
  .col-md-5
    %h4
      Airplanes
    = render 'airplanes/airplanes', landing_strip: @airport.landing_strip, airplanes: @airplanes
  .col-md-1
  .col-md-6
    %h4
      Landing Strip
      = render 'airplane_takeoffs/airplane_takeoffs', airplane_takeoffs: @airport.landing_strip.airplane_takeoffs
