if($("##{dom_id(airplane_takeoff)}")[0]) {
$("##{dom_id(airplane_takeoff)}").replaceWith("#{ escape_javascript(render('airplane_takeoffs/airplane_takeoff', airplane_takeoff: airplane_takeoff))}");
} else { 
$('#landing-strip-takeoffs').prepend("#{ escape_javascript(render('airplane_takeoffs/airplane_takeoff', airplane_takeoff: airplane_takeoff))}");
}