/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.css
 *= require_tree .
 */

.padding-5 {
  padding: 10px 0px;
  margin: 10px 0px;
}

.border-1 {
  border-bottom: 1px solid gray;
}

.frame {
  border: 1px solid gray;	
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}