!!!
%html
  %head
    %title Airports
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag FAYE_JS
    = csrf_meta_tags
  %body
    .container
      = yield

  = javascript_tag do
    var fayeUrl = "#{FAYE_URL}";
    var newAirplaneTakeoffChannel = "#{AirplaneTakeoff::BROADCAST_TAKEOFF_STATUS_CHANNEL}";
